.hero {
	margin-top: 48px;
	display: flex;
	flex-direction: column;
	align-items: center;
	h1 {
		font-size: 36px;
		max-width: 15ch;
		text-align: center;
	}
	button {
		margin-top: 24px;
		width: 100vw;
		border: none;
		background-color: var(--txt);
		height: 48px;
		overflow: hidden;
		p {
			color: var(--bg);
			background-color: var(--txt);
			font-size: 16px;
			font-weight: 900;
			font-family: Lato, sans-serif;
			margin: auto;
		}
		cursor: pointer;
	}
	button:active {
		outline: none;
	}
}